:root {
    --font-family: 'Inter', sans-serif;
    --base-font-size: 1rem;
    --font-size: calc(var(--base-font-size) + .6vw);
    --font-weight: 400;
    --font-style: normal;
    --font-line-height: 1.5;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

    --base-verticle-space: 1rem;
    --verticle-space: calc(var(--base-verticle-space) + .6vw);

    --focus-color: #f2f2f2;
}
